{% extends "base.html" %}
{% load static %}

{% block title %} dashboard {% endblock %}

{% block content %}

<form method='post'>
    {% csrf_token %}
    <div class="form-group">
        <h1>Create activity</h1>

        <label for='experience_title'>Title:</label>
        <input type='text' name='experienceTitle' id='experienceTitle' value={{newExperience.tourTitle}}> <br>

        <label for='experience_location'>Location:</label>
        <input type='text' name='experienceLocation' id='experienceLocation' value={{newExperience.tourLocation}}> <br>
        
        <label for='experience_duration'>Duration:</label>
        <input type='text' name='experienceDuration' id='experienceDuration' value={{newExperience.tourDuration}}> <br>
        
        <label for='experience_price'>Price:</label>
        <input type='text' name='experiencePrice' id='experiencePrice' value={{newExperience.tourPrice}}> <br>
        
        <label for='experience_available_date'>Available Dates:</label>
        <input type='date' name='experienceAvailableDate' id='experienceAvailableDate' value={{newExperience.tourAvailableDate}}> <br>

        <label for='experience_tour_max_num_people'>Max Number of People:</label>
        <input type='text' name='experienceMaxNumPeople' id='experienceMaxNumPeople' value={{newExperience.tourMaxNumberOfPeople}}> <br>

        <label for='experience_description'>Description:</label>
        <input type='text' name='experienceDescription' id='experienceDescription' value={{newExperience.tourDescription}}> <br>

        {% comment %} <label for='experience_tour_image'>Experience Image:</label>
        <input type='text' name='experienceImage' id='experienceImage' value={{newExperience.tourImage}}> {% endcomment %}
        
        {% if empty_first_name %}
            <div>{{ empty_first_name }}</div>
        {% elif empty_last_name %}
            <div>{{ empty_last_name }}</div>
        {% elif empty_subject %}
            <div>{{ empty_subject }}</div>
        {% endif %}
        <br>
        <button type="submit" class="btn btn-success"> create </button>
        <button value="reset" class="btn btn-secondary"> reset </button>
        <br>
    </div>
</form>

{% endblock %}