{% extends "base.html" %}
{% load static %}

{% block title %} dashboard {% endblock %}

{% block content %}

    <h2> {{ request.user.username }} dashboard </h2>

    <h2> My tours: </h2>
        <ul>
            {%for book in allBookingsList %}
            {% if request.user.id == book.endUser.id %}
            <li>
                <span class="tourName"> Tour Name: {{book.tourExperience.tourTitle}} </span>
            </li>
            <li>
                <span class="TourLocation"> Tour Location: {{book.tourExperience.tourLocation}} </span>
            </li>
            {% comment %} <button type="submit" class="btn btn-success"> purchase </button>
            <button href="" type="reset" class="btn btn-danger"> drop </button> {% endcomment %}
            </br>
            {%endif%}
            {%endfor%}
        </ul>
{% endblock %}