{% extends 'base.html' %}
{% load static %}

{% block title %} guide dashboard {% endblock %}

{% block content %}

<div class="container-xxl py-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title text-center text-dark ">{{ request.user.username }} <span class="text-primary text-uppercase">| dashboard</span></h6>
    </div>
    <br>
    {%if user.tourguide.isGuideApproved == 'Approved' %}
    <p><a href="{% url 'editUser' %}">edit my profile</a></p>
    <hr>
    <p><a href="/dashboardGuide/experienceCreate/">create new activity</a></p>
    <hr>
    <p><a href="#">manage my tours</a></p>


        <h1> </h1>
        <canvas id="pie-chart"></canvas>
    

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
        var config = {
            type: 'pie',
            data: {
            datasets: [{
                data: {{ data|safe }},
                backgroundColor: [
                '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
                ],
                label: 'Population'
            }],
            labels: {{ labels|safe }}
            },
            options: {
            responsive: true
            }
        };

        window.onload = function() {
            var ctx = document.getElementById('pie-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>

    <div class="row g-4">
        {% if guideToursList %}
        {% for tour in guideToursList %}
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="room-item shadow rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid" src="{{tour.tourImage.url}}" alt="">
                    <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">${{tour.tourPrice}}/Per Person</small>
                </div>
                <div class="p-4 mt-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h5 class="mb-0">{{tour.tourTitle}}</h5>
                        <div class="ps-2">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>{{tour.tourMaxNumberOfPeople}}</small>
                        <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>{{tour.tourDuration}}</small>
                        <small><i class="fa fa-wifi text-primary me-2"></i>{{tour.tourCategory}}</small>
                    </div>
                    <p class="text-body mb-3">{{tour.tourDescription}}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'experienceDelete' pk=tour.id %}" class="btn btn-sm btn-danger rounded py-2 px-4" href="">Delete</a>
                        <a href="{% url 'experienceUpdate' pk=tour.id %}" class="btn btn-sm btn-primary rounded py-2 px-4" href="">Update</a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        {% else %}
        <div class="alert alert-info text-center mt-5">
            The experience list is empty.
        </div>
        {% endif %}
    </div>

    {% else %}
    <div class="jumbotron text-center mt-5">
        <h1 class="text-danger">Oops!.. Access Denied</h1>
        <p>You have not been approved yet. Please contact us at support@e-tours.gr 
            <a href="{% url 'homepage' %}"> | home page</a>.
        </p>
    </div>
    {% endif %}
</div>

{% endblock content %}