{% extends "base.html" %}
{% load static %}

{% block title %} dashboard {% endblock %}

{% block content %}

    <h2> {{ request.user.username }} dashboard </h2>

    {%if user.tourguide.isGuideApproved == 'Approved' %}
        <h1> Congratulations you have now been approved. </h1>

        <h2> Your tours: </h2>

            <ul>
                {%for tour in allToursList%}
                {%if tour.tourGuide.id == user.tourguide.id %} 

                <li>
                    <span class="tourName"> Tour Name: {{tour.tourTitle}} </span>
                </li>
                <li>
                    <span class="TourLocation"> Tour Location: {{tour.tourLocation}} </span>
                </li>
                {%endif%}
                {%endfor%}
            </ul>

    {%else %}
        <h1> You have not been approved yet. Please contact us at support@e-tours.gr</h1>
    {%endif %}

    <form method='post'>
        {% csrf_token %}
        <h1>Create activity</h1>

        <label for='experience_title'>Experience Title:</label>
        <input type='text' name='experience_title' id='experience_title' value={{tourExperience.newExperienceTitle}}> <br>

        <label for='experience_location'>Experience Location:</label>
        <input type='text' name='trainer_pronoun' id='trainer_pronoun' value={{trainer.pronoun}}> <br>
        
        <label for='trainer_pronoun'>Pronoun:</label>
        <input type='text' name='trainer_pronoun' id='trainer_pronoun' value={{trainer.pronoun}}> <br>
        
        <label for='trainer_pronoun'>Pronoun:</label>
        <input type='text' name='trainer_pronoun' id='trainer_pronoun' value={{trainer.pronoun}}> <br>
        
        <label for='trainer_pronoun'>Pronoun:</label>
        <input type='text' name='trainer_pronoun' id='trainer_pronoun' value={{trainer.pronoun}}> <br>

        <label for='trainer_first_name'>First Name:</label>
        <input type='text' name='trainer_first_name' id='trainer_first_name' value={{trainer.first_name}}>

        <label for='trainer_last_name'>Last Name:</label>
        <input type='text' name='trainer_last_name' id='trainer_last_name' value={{trainer.last_name}}>

        <label for='trainer_subjectt'>Subject:</label>
        <input type='text' name='trainer_subject' id='trainer_subject' value={{trainer.subject}}>
        
        {% if empty_first_name %}
            <div>{{ empty_first_name }}</div>
        {% elif empty_last_name %}
            <div>{{ empty_last_name }}</div>
        {% elif empty_subject %}
            <div>{{ empty_subject }}</div>
        {% endif %}
        <br>
        <button type='submit'>Create</button>
    </form>

{% endblock %}