{% extends 'base.html' %}
{% load static %}

{% block title %} guide dashboard {% endblock %}

{% block content %}


<div class="container p-3">
    {%if user.tourguide.isGuideApproved == 'Approved' %}
    <h1 class="mb-4 text-center">{{ request.user.username }} <span class="text-primary text-uppercase">dashboard</span></h1>

    <span><a href="/dashboardGuide/experienceCreate/">create new activity</a></span>
    <h2> My tours: </h2>

    <div class="row g-4">
        {% if guideToursList %}
        {% for tour in guideToursList %}
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="room-item shadow rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid" src="{{tour.tourImage.url}}" alt="">
                    <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">${{tour.tourPrice}}/Per Person</small>
                </div>
                <div class="p-4 mt-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h5 class="mb-0">{{tour.tourTitle}}</h5>
                        <div class="ps-2">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>{{tour.tourMaxNumberOfPeople}}</small>
                        <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 {{tour.tourDuration}}</small>
                        <small><i class="fa fa-wifi text-primary me-2"></i>{{tour.tourCategory}}</small>
                    </div>
                    <p class="text-body mb-3">{{tour.tourDescription}}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'experienceUpdate' pk=tour.id %}" class="btn btn-sm btn-primary rounded py-2 px-4" href="">Update</a>
                        <a href="{% url 'experienceDelete' pk=tour.id %}" class="btn btn-sm btn-danger rounded py-2 px-4" href="">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        {% else %}
        <div class="alert alert-info text-center mt-5">
            The experience list is empty.
        </div>
        {% endif %}
    </div>

    {% else %}
    <div class="jumbotron text-center mt-5">
        <h1 class="text-danger">Oops!.. Access Denied</h1>
        <p>You have not been approved yet. Please contact us at support@e-tours.gr 
            <a href="{% url 'homepage' %}"> | home page</a>.
        </p>
    </div>
</div>

{% endif %}
{% endblock content %}