{% extends "base.html" %}
{% load static %}

{% block title %} dashboard {% endblock %}

{% block content %}

    <h2> {{ request.user.username }} dashboard </h2>

    {%if user.tourguide.isGuideApproved == 'Approved' %}
        <h5> Congratulations you have now been approved. </h5>
        <span><a href="/dashboardGuide/createActivity/{{user.tourguide.id}}">create new experience</a></span>
        <h2> Your tours: </h2>

            <ul>
                {%for tour in allToursList%}
                {%if tour.tourGuide.id == user.tourguide.id %} 
                {% comment %} <h1> {{user.tourguide.id}} </h1>
                <h1> {{tour.tourGuide}} </h1> {% endcomment %}
                <li>
                    <span class="tourName"> Tour Name: {{tour.tourTitle}} </span>
                    
                </li>
                <li>
                    <span class="TourLocation"> Tour Location: {{tour.tourLocation}} </span>
                </li>
            </br>
                {%endif%}
                {%endfor%}
            </ul>

    {%else %}
        <h5> You have not been approved yet. Please contact us at support@e-tours.gr</h5>
    {%endif %}


{% endblock %}