{% extends "base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block content %}

    <h2> {{ request.user.username }} dashboard </h2>

    {%if user.tourguide.isGuideApproved == 'Approved' %}
        <h5 class="text-success"> Congratulations you have now been approved. </h5>

        <h2> {{user.tourguide}}</h2>
        <h2> my tour experiences </h2>

            <ul>
                {%for tour in allToursList%}
                {%if tour.tourGuide.id == user.tourguide.id %} 

                <li>
                    <span class="tourName"> Title: {{tour.tourTitle}} </span>
                </li>
                <li>
                    <span class="tourName"> Location: {{tour.tourLocation}} </span>
                </li>
                <li>
                    <span class="tourName"> Duration: {{tour.tourDuration}} </span>
                </li>
                <li>
                    <span class="tourName"> Price: {{tour.tourPrice}} </span>
                </li>
                <li>
                    <img src="{{tour.tourImage}}" class="card-img-top" alt="...">
                </li>
                {% endif %}
                {% endfor %}
            </ul>
    {%else %}
        <h5 class="text-danger"> You have not been approved yet. Please contact us at support@e-tours.gr</h5>
    {%endif %}

{% endblock %}
