{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1> Change your account details </h1>
<h1> {{request.user.username}}</h1>
<h1> {{request.user.password}}</h1>
<h1> {{request.user.first_name}}</h1>
<h1> {{request.user.last_name}}</h1>
<form method='post'>
    {% csrf_token %}
        <label for='username'> Username: </label>
        <input type='text' name='username' id='username' placeholder = {{request.user.username}} value= {{userToEdit.username}}> <br>

        {% comment %} <label for='user_password'> Password: </label>
        <input type='password' name='user_password' id='user_password' value= {{request.user.password}}> <br> {% endcomment %}

        <label for='first_name'> First Name: </label>
        <input type='text' name='first_name' id='first_name' placeholder = {{request.user.first_name}} value= {{userToEdit.first_name}}> <br>

        <label for='last_name'> Last Name: </label>
        <input type='text' name='last_name' id='last_name' placeholder = {{request.user.last_name}} value= {{userToEdit.last_name}}> <br>
            
        
    <button type='submit'> Update details </button>
</form>

{% endblock content %}