{% extends 'base.html' %}
{% load static %}
{% load customFilters %}{% comment %} a custom filter that replaces "," with "/" in a string used to pass LocatioField long and alt to url {% endcomment %}

{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url('../static/media/images/pexels-alex-azabache-3722809.jpg');">
        <div class="container-fluid page-header-inner py-5"> 
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Experience Details</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="{% url "homepage" %}">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

<head>
    {% comment %} <script src="{% static 'js/jquery.js'%}"></script> {% endcomment %}
    {{form.media}}
 </head>

 <div class="container-xxl w-75 py-5">
    <div class="card">
        <div class="card-header">
            <h1>{{object.tourTitle}}</h1>
        </div>
        <div class="card-body">
            <div class="container row">
                <div class="col-md-6">
                    <img src="{{object.tourImage.url}}" class="card-img-top" alt="..."> 
                </div>
                <div class="col-md-6">
                    <h6>Category: <span class="text-primary text-uppercase">{{object.tourCategory}}</span></h6>
                    <h6>Duration: <span class="text-primary text-uppercase">{{object.tourDuration}}</span></h6>
                    <h6>Rating: <span class="text-primary text-uppercase">{{object.tourRating}} /5</span></h6>
                    <h6>Price: <span class="text-primary text-uppercase">{{object.tourPrice|floatformat:2}}</span></h6>
                    <h6>Available Date: <span class="text-primary text-uppercase">{{object.tourAvailableDate}}</span></h6>
                    <h6>Bookings /Max: <span class="text-primary text-uppercase">{{object.tourBookings}} /{{object.tourMaxNumberOfPeople}}</span></h6>
                    <h6>Place: <span class="text-primary text-uppercase">{{object.tourCity}}</span></h6>
                    <h6>Description: <span class="text-primary text-uppercase">{{object.tourDescription}}</span></h6>
                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/#map=14/{{object.tourLocation|map}}" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=14/{{object.tourLocation|map}}" target="_blank">View Larger Map</a></small>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex">
            {% if user.enduser and object.tourBookings < object.tourMaxNumberOfPeople %}
            <button class="btn btn-success ml-auto" id="checkout-button">Checkout</button>
            {% else %}
            <button class="btn btn-danger ml-auto disabled" id="checkout-button">Checkout</button>
                {% if object.tourBookings == object.tourMaxNumberOfPeople %}
                <h6><span >&nbsp; &nbsp; &nbsp;Oops!.. You can't buy this experience. It is fully booked. Please try another <a href="{% url 'experienceList' %}"> Experience! </a></span> </h6>
                {% elif not user.enduser %}
                <h6><span >&nbsp; &nbsp; &nbsp;Oops!.. You can't buy this experience. Please <a href="{% url 'signupUser' %}"> SIGN UP! </a></span> first</h6>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>


<!-- Add JavaScript Here-->
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe('{{ stripe_publishable_key }}');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {
        var email = "{{request.user.email}}"

        // Create a new Checkout Session using the server-side endpoint you
        fetch("{% url 'api_checkout_session' id=object.id %}", {
            method: 'POST',
            body: JSON.stringify(
                { email: email }
            )
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.sessionId });
            })
            .then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>
{% endblock content %}