{% extends 'base.html' %}
{% load static%}

{% block title %} Homepage {% endblock %}

{% block carouzel %} 
    {% include 'carouzel.html' %}
{% endblock carouzel %}

{% block content %}

  <h2 class="text-center">Most Popular Experiences</h2>
  <div class="container p-4">
    {% if allToursList %}
    <div class="container-fluid" >
        <div class="row">
          {% for tour in allToursList %}
          <div class="card p-3 rounded col-sm-4">
            <img src="{{tour.tourImage}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{tour.tourTitle}} </h5>
              <p class="card-text">{{tour.tourDescription}}</p>
              <a href="{% url 'experienceDetails' id=tour.id %}" class="btn btn-primary float-end stretched-link">Book now</a>
              {% if user.is_active %}
              <a href="{% url 'wishListAdd' idTour=tour.id  %}" class="btn btn-success float-end">Favourite</a>
              {% endif %} 
            </div>
          </div>
          {% endfor %}   
        </div>
      </div>
    {% else %}
    <div class="alert alert-info text-center mt-5">
        The experience list is empty.
    </div>
    {% endif %}
</div>

{% endblock %}