{% extends "base.html" %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
    <h2> Login </h2>
    <form method='post'>
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
            <small class="form-text text-danger">{{typeError}}</small>
            <small class="form-text text-danger">{{attributeError}}</small>
            <br>
            <button type="submit" class="btn btn-primary"> login </button>
            <button type="reset" class="btn btn-secondary"> reset </button>
            <br>
        </div>
    </form>

    {% comment %} <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username"> username : </label>
            <input type="text" class="form-control" name="username" id="username" autofocus/>
            <small class="form-text text-danger">{{empty_username}}</small>
            <br/>
            <label for="password"> password : </label>
            <input type="password" class="form-control" name="password" id="password" />
            <small class="form-text text-danger">{{empty_password}}</small>
            <br/><br/>
            <button type="submit" class="btn btn-primary"> login </button>
            <button type="reset" class="btn btn-secondary"> reset </button>
        </div>
    </form> {% endcomment %}
{% endblock %}

