{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container w-50 p-3">
    <h1 class="mb-4 text-center text-primary text-uppercase">Login</h1>
    <form method='post'>
        {% csrf_token %}
        <div class="form-group">
            {{form|crispy}}
            {% if messages %}
            <div class="messages text-danger">
                {% for message in messages %}
                <smal {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</smal>
                {% endfor %}
            </div>
            {% endif %}
            <br>
            <button type="submit" class="btn btn-primary"> login </button>
            <button type="reset" class="btn btn-secondary"> reset </button>
        </div>
    </form>
</div>
{% endblock %}
