{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container w-75 p-3">
    <h1 class="mb-4 text-center text-primary text-uppercase">Order History</h1>

    {% if object_list %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Experience</th>
                <th>Customer Email</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        
        <tbody>
            {% for item in object_list %}
            {% if request.user.email == item.customer_email %}
                <tr>
                    <td>{{ item.tourExperience.tourTitle }}</td>
                    <td>{{ item.customer_email }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        {% if item.has_paid %}
                            <b class="text-success">Success</b>
                        {% else %}
                            <b class="text-danger">Failed</b>
                        {% endif %}
                    </td>
                    <td>{{ item.created_on }}</td>
                </tr>
            {% endif %}
            {% endfor %}  
        </tbody>
    </table>

    {% else %}
    <div class="alert alert-info">
        Payment history is empty.
    </div>
    {% endif %}
        
</div>
{% endblock content %}