{% extends 'base.html' %}
{%load static%}

{% block title %} Sign up page {% endblock %}

{% block content %}
    <h1> become a guide </h1>
    <form method='post'>
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
            <br>
            <br>
            {% comment %} {{ form.as_table }} {% endcomment %}
            {% comment %} {{form|crispy}} {% endcomment %}
            <button type="submit" class="btn btn-primary"> sign up </button>
            <button type="reset" class="btn btn-secondary"> reset </button>
        </div>
    </form>
{% endblock %}