{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Sign up as user {% endblock %}

{% block content %}

<div class="container w-50 p-3">
    <h1 class="mb-4 text-center text-primary text-uppercase">Sign up</h1>
    <form method='post'>
        {% csrf_token %}
        <div class="form-group">
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-primary"> sign up </button>
            <button type="reset" class="btn btn-secondary"> reset </button>
        </div>
    </form>
</div>

{% endblock %}