{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">My Wish List</h1>
<div class="container">
    {% if allWishList %}
    <div class="row">
        {% for wish in allWishList %}
        <div class="col-sm-4">
            <div class="card">
                <img src="{{wish.tourExperience.tourImage.url}}" class="card-img-top" alt="..."> 
                <div class="card-body">
                    <h4 class="card-title">{{wish.tourExperience.tourTitle}}</h4>
                    <p class="card-text">{{wish.tourExperience.tourDescription}}</p>
                </div>
                <div class="card-footer d-flex">
                    <a href="{% url 'experienceDetails' id=wish.tourExperience.id %}" class="btn btn-primary ml-auto">Buy Now</a>
                    <a href="{% url 'wishListDrop' pk=wish.id %}" class="btn btn-danger ml-auto" type="submit">Remove</a>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info text-center mt-5">
        The experience list is empty.
    </div>
    {% endif %}
</div>
{% endblock content %}
