.card{
  transition: transform .3s;
}
.card:hover{
  transform: scale(1.05);
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1600px;
}
}

.bg-light{
    background-color: #b5dcfc !important;
}
/* THIS WILL MAKE THE HEADER BE ON THE MAXIMUM VIEWPORT HEIGHT 100% AND MOVE THE NAVBAR -200 PX UP*/
#carouselCaptions{
  height:100%;
  margin-top: -240px;
}
