{% load static %}

<div id="carouselCaptions" class="carousel slide m-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'media/images/pexels-alex-azabache-3722809.jpg' %}" class="d-block w-100 h-100 " alt="1st slide">
      <div class="carousel-caption shadow p-0 mb-3 rounded">
        <h3>Santorini View</h3>
        <p>A majestic place to be.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'media/images/pexels-alex-staudinger-1732421.jpg'%}" class="d-block w-100 h-100 " alt="2nd slide">
      <div class="carousel-caption shadow p-0 mb-3 rounded">
        <h3>Sunny day beside the sea</h3>
        <p>Greece's famous beaches.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'media/images/pexels-valdemaras-d-2897548.jpg'%}" class="d-block w-100 h-100" alt="3rd slide">
      <div class="carousel-caption shadow p-0 mb-3 rounded">
        <h3>Meteora</h3>
        <p>A unique sighting that you have to visit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'media/images/pexels-pixabay-164336.jpg'%}" class="d-block w-100 h-100" alt="4th slide">
      <div class="carousel-caption shadow p-0 mb-3 rounded">
        <h3>Parthenon of Acropolis</h3>
        <p>One of the wonders of the ancient world.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'media/images/pexels-matos-984888.jpg'%}" class="d-block w-100 h-100" alt="5th slide">
      <div class="carousel-caption shadow p-0 mb-3 rounded">
        <h3>Greek Taverns</h3>
        <p>Famous for the hospitality and the excellent taste in food.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'media/images/pexels-pixabay-164041.jpg'%}" class="d-block w-100 h-100" alt="6th slide">
      <div class="carousel-caption shadow p-0 mb-3 rounded">
        <h3>Zakynthos Navagio Beach</h3>
        <p>Zakynthos is probably most famous outside Greece for Navagio Beach.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'media/images/pexels-jimmy-teoh-971008.jpg'%}" class="d-block w-100 h-100" alt="7th slide">
      <div class="carousel-caption shadow p-0 mb-3 rounded">
        <h3>Mykonos windmills</h3>
        <p>The famous island and its windmills.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>