{%load static%}

{% comment %} <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage'%}"><img src="{% static 'media/logo.png'%}" class="d-block w-100 h-100 " alt="..."></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'homepage'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'experienceList'%}">Tour Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contactUs'%}">Contact us</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_active %}
            <li class="nav-item">
              {% if user.is_superuser %}
                <a class="nav-link text-success" href="/admin/" tabindex="-1" aria-disabled="true"> {{ request.user.username }} </a>
              {% elif user.tourguide %}
                <a class="nav-link text-success" href="{% url 'dashboardGuide' %}" tabindex="-1" aria-disabled="true"> {{ request.user.username }} </a>
              {% else %}
              <a class="nav-link text-success" href="{% url 'dashboardUser' %}" tabindex="-1" aria-disabled="true"> {{ request.user.username }} </a>
              {%endif%}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'logoutUser'%}" tabindex="-1" aria-disabled="true">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'loginUser'%}" tabindex="-1" aria-disabled="true">Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="{%url 'signupUser' %}" tabindex="-1" aria-disabled="true">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'signupGuide'%}" tabindex="-1" aria-disabled="true">Become a guide</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav> {% endcomment %}


<div class="container-fluid bg-dark px-0 sticky-top">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="#" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 text-primary text-uppercase">e-tours.gr</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-white d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope text-primary me-2"></i>
                        <p class="mb-0">support@e-tours.gr</p>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt text-primary me-2"></i>
                        <p class="mb-0">+30 210 210 210</p>
                    </div>
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="d-inline-flex align-items-center py-2">
                        <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                        <a class="me-3" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a href="#" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">e-tours.gr</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="{% url "homepage" %}" class="nav-item nav-link active">Home</a>
                        <a href="{% url "experienceList" %}" class="nav-item nav-link">Experiences</a>
                        <a href="{% url "contactUs" %}" class="nav-item nav-link">Contact us</a>
                    </div>
                    <div class="navbar-nav mr-auto py-0 justify-content-end me-5">
                      <ul class="navbar-nav">
                        {% if user.is_active %}
                          {% if user.is_superuser %}
                            <a href="/admin/" class="nav-item nav-link text-primary"> {{ request.user.username }} | Dashboard </a>
                          {% elif user.tourguide %}
                          <a href="{% url 'dashboardGuide' %}" class="nav-item nav-link text-primary">{{ request.user.username }} | Dashboard </a>
                          {% else %}
                            <a href="{% url 'dashboardUser' %}" class="nav-item nav-link text-primary"> {{ request.user.username }} | Dashboard </a>
                          {%endif%}
                            <a class="nav-item nav-link" href="{% url 'logoutUser' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'loginUser' %}" class="nav-item nav-link">Login</a>
                            <a href="{% url 'signupUser' %}" class="nav-item nav-link">Sign up</a>
                            <a href="{% url 'signupGuide' %}" class="nav-item nav-link">Become a guide</a>
                        {% endif %}
                      </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
